<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no,initial-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script src="/js/jquery-1.7.2.min.js"></script>
	<script src="/js/klass.min.js"></script>
	<script src="/js/code.photoswipe.jquery-3.0.5.js"></script>
	<script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript">
      var socket = io.connect();
      var imageHtml = function( imagePath ) {
        var url = '/getImage?imagePath=' + imagePath;
      	var element = [
             '<li>',
            '<div class="thunbnail">',
	     	 '<a href="' + url + '">',
             '<img  src="' + url + '" alt="優太郎くんの写真" width="260" height="180"/>',
             '</a>',
             '</div>',
             '</li>'
          ].join('');
      	return element;
      };
      var addImage = function( imagePath ) {
          var element = imageHtml( imagePath )
          $("#imageContainer").append(element);
      };
      
      var getImages = function() {
        $.get( '/yutarou/images', function(data) {
           for( var i = 0; i < data.length; i++ ) {
             var file = data[i];
             addImage( 'uploadimages/yutaro/' + file );
           }
          var options = {
            jQueryMobile: true
          };
          $("#imageContainer a").photoSwipe(options);

        } );
      };
      
      $(function() {
        getImages();
      });
      
      socket.on('uploaded', function(data){
      	addImage( data.imagePath );
      });
    </script>
    <title>ChildSmile</title>
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">ゆうたろうアプリ</a>

          <div class="navbar-search" style="margin-left: 160px;">
          </div>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="row">
	<div class="span12" style="margin-top: 50px;">

	  <ul class="thumbnails" id="imageContainer">

	  </ul>
	</div>
      </div>
      
    </div>
  </body>
</html>

